header {
    background-color: chocolate;
    width: 100%;
    max-width: 5000px;
    height: 85px;
}

a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: rgb(119, 144, 153);
}

img {
    width: 350px;
}

footer {
    background-color: grey;
    width: 100%;
    max-width: 5000px;
    height: 100px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: lightgrey;
    border-color: lightgray;
}
